bin/
obj/
out/
publish/
wwwroot/
Migrations/

.vs
.vscode
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
.vscode/
*.code-workspace

*.log
logs/
Log/
*.txt

ScaffoldingReadMe.txt


appsettings.*.json
appsettings.*.local.json